* {
    font-family: 'Lilita One', cursive;
}
h1 {
    text-align: center;
    background-color: #55aadd;
    color: white;
    padding: 20px;
}
.form-control {
    border: 1px solid black;
    
}
.input {
    border: none;
}
#search-button {
    border: 20px;
    margin: 20px;
    
    box-sizing: border-box;
    background-color: #55aadd;
    color: white;
    
    
}
